/* Media Query Start */

@media only screen and (max-width: 959px){
    .carousel-caption {
        top: 15%;
        left: 5%;
    }
    .pxlr-slider .pxlr-section-header h3 {
        font-size: 18px;
        line-height: initial;
    }
    .pxlr-slider .pxlr-section-header p {
        font-size: 13px;
        padding: 12px 0;
    }
    .pxlr-btn-global-green {
        padding: 5px 0;
    }
    .pxlr-slider .pxlr-btn-global-green a {
        padding: 5px 15px;
        font-size: 15px;
    }
}