.dark-mode {
	.overview-section .item-icon {
		svg {
			width: 40px;
			height: 40px;

			&.fa-wordpress {
				color: #fff;
			}
			&.fa-square-git {
				color: #fff;
			}
			&.fa-square-github {
				color: #fff;
			}
			&.fa-js {
				color: #f3e5ab;
			}
			&.fa-bootstrap {
				// color: #712cf9;
				color: #fff;
			}
			&.fa-tailwindcss {
				color: #38bdf9;
			}
		}
	}
}

.profile-teaser .bio img.brand-logo {
	height: 14px;
}

.profile-teaser .profile-image {
	max-width: 100%;
	max-height: 100%;
}

@media (min-width: 768px) {
	.profile-teaser .profile-image {
		width: 800px;
		height: 400px;
		object-fit: cover;
		mix-blend-mode: luminosity;
	}
	.profile-teaser .profile-image:hover {
		mix-blend-mode: normal;
	}
}

.overview-section .item-icon svg.fa-wordpress {
	color: #21759b;
}

.overview-section .item-icon svg.fa-github {
	color: #000;
}
